html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 200;
  font-family: "Helvetica Neue";
}

main {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;

  input {
    background: none;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    font-size: 40px;
    line-height: 40px;
    margin-top: -50px;
    min-width: 530px;
    padding: 15px 0;
    outline: none;
  }

  input::-webkit-input-placeholder {
    color: black !important;
    font-weight: 200;
  }
}

