.chatbox-messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 10px;

  .message {
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 5px;
    margin-right: 100px;
    margin-bottom: 10px;

    &.is-users {
      background: #eee;
      border: none;
      margin-right: 0;
      margin-left: 100px;
    }

    p { margin: 0; }
    img { max-width: 190px; }
  }

  .server-message {
    background: none;
    border: none;
    color: #999;
    margin-right: 0;
    font-weight: 300;
    font-size: 11px;
    padding: 0;
    text-align: center;

    .username { display: none; }
  }

  .username {
    font-weight: bold;
    margin-bottom: 5px;
  }
}
